#main{
width: 800px;
height: 492px;
background-color: black;
 display: flex; 
flex-wrap: wrap;
justify-content: center;
padding: 20px
}
.box{
    width: 305px;
    height: 148px;
    background-color:rgb(247, 243, 26);
}
.box1{
    width: 305px;
    height: 148px;
    background-color:rgb(58, 212, 58);
    margin-left: 17px;
}
.box2{
    width: 373px;
    height: 318px;
    background-color: rgb(128, 10, 49);
    margin-left: 11px;
}
.box3{
    width: 244px;
    height: 155px;
    background-color: rgb(19, 133, 185);
    margin-left: 14px;
}
.box4{
    width: 246px;
    height: 150px;
    background-color: rgb(185, 19, 19);
    margin-left: 14px;
    margin-top: 13px;

}
