*{
    margin: 0px;
    padding: 0px;
}
.parent{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid: 100px 200px 100px / 300px 300px 200px;
  
   
}
 @media screen and (min-width:475px) and (max-width:700px){
            
    .item:nth-child(1) {
        background-color: black !important;

    }

} 
 
.item{
    margin:5px;
}
.item:nth-child(1){
   
   
    background-color: lightblue;
}
.item:nth-child(2){
   
   
    background-color: rgb(214, 16, 32)
}
.item:nth-child(3){
  
    
    background-color: yellow;
}
.item:nth-child(4){
    
   
    background-color: green;
}
.item:nth-child(5){
    
  
    background-color: blue
}
.item:nth-child(6){
    
  
    background-color: rgb(255, 166, 0)
}
.item:nth-child(7){
    
  
    background-color: rgb(255, 0, 119)
}
.item:nth-child(8){
    
  
    background-color: rgb(145, 145, 161)
}
.item:nth-child(9){
    
  
    background-color: brown;
}